.container-filters {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.card-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

mat-form-field {
  flex: 1;
  margin-right: 15px;
}

.action {
  display: flex;
  align-items: center;
}
